@import 'tailwindcss';

@theme {
  --color-burnett-black: #131e3d;
  --color-burnett-bg: rgb(249, 250, 251);
  --color-burnett-blue: #3784fb;
  --color-html: #ea6228;
  --color-css: #29a4d8;
  --color-js: #f0d91a;
  --color-vue: #3eb37f;
  --color-ts: #3075c1;
  --color-tailwind: #26bcff;
  --color-git: #f44c27;
  --background-image-figma: linear-gradient(
    180deg,
    rgba(242, 78, 30, 1) 0%,
    rgba(157, 87, 248, 1) 54%,
    rgba(23, 207, 131, 1) 100%
  );
}

body {
  color: var(--color-burnett-black);
  font-size: var(--text-lg);
  background-color: var(--color-burnett-bg);
}
